
<body class="login-page" style="min-height: 496.781px;">
    <div class="login-box"  >
        <div class="login-logo">
            <a href="../Home/Index.html"><b>Admin</b>LTE</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Faça o login para iniciar sua sessão</p>

                <form action="/Login/ChecarLogin" method="post">

                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" name="Email" id="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Senha" name="PassWord" id="PassWord">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <p>
                        @ViewBag.Erro
                    </p>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>


                <p class="mb-1">
                    <a href="forgot-password.html">Esqueci minha senha</a>
                </p>
                <p class="mb-0">
                    <a href="register.html" class="text-center">Registre-se</a>
                </p>

            </div>
            <!-- /.login-card-body -->

        </div>
    </div>
</body>